header {
    color: blue;
    font-family: 'Inconsolata', monospace;
    font-family: 'Signika', sans-serif;
    background-color: gray;
}
body {
    text-align: center;
}
.song
    {
        font-size: 20px;
        color: red;    }
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}